
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  background-color: #2B2733;
  margin-top: max(10%, 150px);  /* espace sous la navbar */
  margin-bottom: max(6%, 50px); /* espace au dessus du footer */
  overflow-y: auto;  /* scroll */
  padding: 2%;
  height: calc(100vh - 8% - 5%); /* espace du contenu */
  box-sizing: border-box; /* Inclut le padding dans le calcul de la hauteur */
}

