:root {
  font-family: Archivo, Arial, Helvetica, sans-serif ;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #19161F;
  height: 100%;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

